* {
    padding: 0;
    margin: 0;
    font-size: 20px;
    box-sizing: border-box;

}
.landingpage{
    background:url(../assets/backgrounds/h_img.jpg);
    background-position: center;
    width: 100%;
    background-size: cover;
    height: 100vh;
}

.landingtext{
    top: 50%;
    left: 30%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}
.about{
    text-align: center;
}
